*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: rgba(224,241,231,255);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{    
    position: relative;
    max-width: 700px;
    width:100%;
    padding: 25px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 8px rgb(16,124,108);
} 

.container header{
    text-align: center;
    font-size: 1.5rem;
    font-weight:500;
    color:rgb(16,124,108);
    text-shadow: 2px 2px 5px;
}

.form .input-box{
    width: 100%;
    margin-top:25px;
}
